In [2]:
# Import the Pandas library
import pandas as pd

In [3]:
# File to load
# Create a reference the CSV file desired
df = pd.read_csv('pokemon.csv')
# Read the CSV into a Pandas DataFrame

# Print the first five rows of data to the screen
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Read with Pandas

In [10]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
new_df= df.columns = 'Type 1','HP', 'Attack', 'Sp.Atk', 'Sp. Def', 'Speed'
new_df

ValueError: Length mismatch: Expected axis has 13 elements, new values have 6 elements

In [ ]:
# Create a dataframe of the average stats for each type of pokemon.

In [ ]:
# Calculate the total power level of each type of pokemon by adding all of the stats together.
# Place the results into a new column.

In [ ]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.