In [1]:
# Dependencies
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [47]:
# Load in File from resources
# 'movie_scores.csv'
df = pd.read_csv('scores.csv', delimiter=",", encoding="ISO-8859-1")

In [23]:
# Read and display with pandas

In [24]:
# List all the columns the table provides

df_list = list(df)

In [41]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB
new_df = df[['FILM','IMDB', 'IMDB_user_vote_count']]
new_df.head(5)

                             FILM  IMDB  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8                271107
1               Cinderella (2015)   7.1                 65709
2                  Ant-Man (2015)   7.8                103660
3          Do You Believe? (2015)   5.4                  3136
4   Hot Tub Time Machine 2 (2015)   5.1                 19560

In [42]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
rating_over_7 = new_df[new_df['IMDB'] > 7]
rating_over_7.head(5)

                             FILM  IMDB  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8                271107
1               Cinderella (2015)   7.1                 65709
2                  Ant-Man (2015)   7.8                103660
5        The Water Diviner (2015)   7.2                 39373
8    Shaun the Sheep Movie (2015)   7.4                 12227

In [43]:
# Find lesser-known movies to watch, with fewer than 20K votes
less_known_movies = rating_over_7[rating_over_7['IMDB_user_vote_count'] < 20000]
less_known_movies.head(5)

                                 FILM  IMDB  IMDB_user_vote_count
8        Shaun the Sheep Movie (2015)   7.4                 12227
9                 Love & Mercy (2015)   7.8                  5367
10  Far From The Madding Crowd (2015)   7.2                 12129
20              McFarland, USA (2015)   7.5                 13769
29         The End of the Tour (2015)   7.9                  1320

In [45]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
less_known_movies.to_excel("watchlist.xlsx", index=False)