In [41]:
# Import Dependencies
import pandas as pd
import numpy as np
import csv

In [46]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
data = pd.DataFrame()

In [61]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                    columns=['a', 'b', 'c'])

df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [50]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
data = pd.DataFrame(np.array([["Ornate",12,100],["Classical",12.5,200],
                              ["Modern",10.0,150],["Wood" ,5.0 ,300],["Cardboard",1.0,"N/A"]]),
                                columns=['Frame','Price','Sales'])
data

       Frame Price Sales
0     Ornate    12   100
1  Classical  12.5   200
2     Modern  10.0   150
3       Wood   5.0   300
4  Cardboard   1.0   N/A

In [69]:
arts = {"Paiting": ["Mona Lisa", "Van Gogh", "Starving Artist", "Toddler Drawing"],
        "Popularity": ["Very Popular", "Popular", "Average", "Not Popular"],
        "Price": [25,20,10,1]}
df_arts = pd.DataFrame(arts)
df_arts

           Paiting    Popularity  Price
0        Mona Lisa  Very Popular     25
1         Van Gogh       Popular     20
2  Starving Artist       Average     10
3  Toddler Drawing   Not Popular      1

In [72]:
names = ["Jose","Bruno", "Daniel"]
names_lastNames = {names[0]: ["Amieva", "Cardoso"], names[1]: ["Rodriguez","Lopez"], names[2]: ["Cuenca","Norberto"]}

df_names_lastNames = pd.DataFrame(names_lastNames)

df_names_lastNames

      Jose      Bruno    Daniel
0   Amieva  Rodriguez    Cuenca
1  Cardoso      Lopez  Norberto